*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}
html,
body{
  height: 100vh;
  width: 100%;
  background-color: black;
}
.parent{
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.card{
  height:330px;
  width:280px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card .top{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 5px;
  gap:3px;
  color: #b1b1b1;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:1px solid #b1b1b1 ;
  padding-top: 15px ;
  gap:70px;
}
.center{
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 200;
}
.center .tag{
  display: flex;
  gap:5px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color:#111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 10px;
  
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: #b1b1b1;
}